<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>預約訊息</title>
  <link rel="shortcut icon" href="static/favicon.ico">
</head>
<style>
  body {
    text-align: center;
  }
</style>

<body>
  <h1>預約訊息</h1>
  <form action="/api/submit" method="post" id="data">
    <input type="hidden" id="accessToken" name="accessToken">
    <br>
    <label for="reciver">選擇傳送人：</label>
    <select id="reciver" name="reciver" required>
      {{ range $user := .users }}
      <option value="{{ $user.Name }}">{{ $user.Name }}</option>
      {{ end }}
    </select>
    <br>
    <label for="date">選擇預約日期：</label>
    <input type="date" id="date" name="date" min="{{ .now.Date }}" value="{{ .now.Date }}" required>
    <br>
    <label for="time">選擇預約時間：</label>
    <input type="time" id="time" name="time" value="{{ .now.Time }}" required>
    <br>
    <label for="content">輸入訊息內容：</label>
    <br>
    <textarea name="content" id="content" required></textarea>

    <input type="submit">
  </form>
  <button id="liffLoginButton">Log in</button>
  <button id="liffLogoutButton">Log out</button>
</body>

<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
<script src="/static/liff/liff.js"></script>

</html>